<h1>Showing selected Patient</h1>

<p>
Title: <%= @article.title %>
</p>
<p>
Last Name: <%= @article.lastname %>
</p>
<p>
First Name: <%= @article.firstname %>
</p>
<p>
Age: <%= @article.age %>
</p>
<p>
Gender: <%= @article.sex %>
</p>
<p>
Diagnosis: <%= @article.diagnosis %>
</p>
<p>
Subjective Complaints: <%= @article.subjective %>
</p>
<p>
Current Treatment: <%= @article.current_tx %>
</p>
<p>
Current Findings: <%= @article.description %>
</p>
<p>
New Goals: <%= @article.goals %>
</p>
<p>
New Plan: <%= @article.plan %>
</p>
<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles listing", articles_path %>
